@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cows and Bulls Guessing Game</h1>
    <br>
    <h5>
        DISCOVER THE HIDDEN CODE!<br><br>Bulls and Cows Game is also known as MasterMind. Computer selects a four digit number and User have to crack it. <br>
        Bulls represent correct position and Cows represent wrong position.

    </h5>
    <form>
        <button asp-controller="Game" asp-action="Index">START TO PLAY</button>
    </form>
</div>
